#### 1. Define un set vacío llamado `mi_set` y luego imprímelo.

In [1]:
mi_set = ()

#### 2. Añade los números `4`, `5` y `6` al set `mi_set`.

In [2]:
mi_set = {4, 5, 6}

#### 3. Crea un set llamado `colores` con los siguientes elementos: `"rojo"`, `"verde"`, `"azul"`, `"amarillo"`, `"negro"` `"blanco"`.

In [3]:
colores = {"rojo", "verde", "azul", "amarillo", "negro", "blanco"}

#### 4. Elimina el color 'rojo'  del set `colores`.

In [4]:
colores.remove("rojo")

#### 5. Verifica si el elemento `"blanco"` está presente en el set `colores`.

In [5]:
colores

{'amarillo', 'azul', 'blanco', 'negro', 'verde'}

#### 6. Crea un nuevo set que contenga todos los elementos de `set1` y `set2`, sin duplicados.

```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}
```

In [6]:
set1 = ()
set1 = {1, 2, 3}
set2 = ()
set = {3, 4, 5}

In [9]:
set_union = set1.union(set2)

#### 7. Encuentra los elementos comunes entre `setA` y `setB`.

```python
setA = {1, 2, 3, 4}
setB = {3, 4, 5, 6}
```

In [15]:
setA = {1, 2, 3, 4}
setB = {3, 4, 5, 6}

set_inter = setA.intersection(setB)
set_inter

{3, 4}

#### 8. Encuentra los elementos en `setX` que no están en `setY`.

```python
setX = {1, 2, 3, 4}
setY = {3, 4, 5, 6}
```

In [18]:
setX = {1, 2, 3, 4}
setY = {3, 4, 5, 6}
set_dif = setX.difference(setY)
set_dif

{1, 2}

#### 9. Encuentra los elementos que están en `setP` o `setQ`, pero no en ambos.

```python
setP = {1, 2, 3, 4}
setQ = {3, 4, 5, 6}
```

In [22]:
setP = {1, 2, 3, 4}
setQ = {3, 4, 5, 6}
set_sy = setP.symmetric_difference(setQ)
set_sy

{1, 2, 5, 6}

#### 10. Comprueba si `setA` es un subconjunto de `setB`.

```python
setA = {1, 2, 3}
setB = {1, 2, 3, 4, 5}
```

In [19]:
seta = {1, 2, 3}
setb = {1, 2, 3, 4, 5}

#### 11. Comprueba si `setM` y `setN` no tienen elementos en común.

```python
setM = {1, 2, 3}
setN = {4, 5, 6}
```

In [23]:
setm = {1, 2, 3}
setn = {4, 5, 6}
set_j = setm.isdisjoint(setn)
set_j

True

#### 12. Vacía el set `conjunto` de manera que no contenga ningún elemento.

```python
conjunto = {1, 2, 3, 4, 5}
```

In [25]:
conjunto = {1, 2, 3, 4, 5}
conjunto.clear()
conjunto

set()

#### 13. Crea un set llamado `numeros_set` que contenga los elementos de `lista_numeros`.

```python
lista_numeros = [1, 2, 3, 4, 5]
```

In [33]:
lista_numeros = [1, 2, 3, 4, 5]
numeros_set = set(lista_numeros)

TypeError: 'set' object is not callable

#### 14. Añade las letras `"o"` y `"u"` al set `vocales`.

```python
vocales = {"a", "e", "i"}
```

In [35]:
vocales = {"a", "e", "i"}
vocales.update("o", "u")
vocales

{'a', 'e', 'i', 'o', 'u'}

#### 15. Combina `setA` y `setB` utilizando el método `update` para modificar `setA` y agregar los elementos de `setB`.

```python
setA = {1, 2, 3}
setB = {3, 4, 5}
```

In [40]:
setA = {1, 2, 3}
setB = {3, 4, 5}
setA.update(setB)
print(setA)

{1, 2, 3, 4, 5}

#### 16. Elimina `"conejo"` del set `animales`.

```python
animales = {"gato", "perro", "conejo", "ratón"}
```

In [41]:
animales = {"gato", "perro", "conejo", "ratón"}
animales.remove("conejo")
animales

{'gato', 'perro', 'ratón'}

#### 17. Calcula cuántos elementos tiene el set `setX` e imprime el resultado.

```python
setX = {1, 2, 3, 4, 5}
```

In [44]:
print(len(setX))

4